name: Lint

on:
  workflow_call:
    inputs:
      max-complexity:
        description: |-
          Maximum McCabe complexity for the flake8 --max-complexity
          option.
        type: number
        required: false
        default: -1
      python-version:
        description: |-
           Python version for the workflow, passed to
           actions/setup-python.
        type: string
        required: false
        default: "3.x"
      type-hint-packages:
        description: |-
          Requirements specifiers for packages containing type stubs, or
          full packages that provide type hints. These are installed
          using pip, for mypy.
        type: string
        required: false
        default: ""

jobs:
  lint:
    runs-on: ubuntu-latest

    continue-on-error: true

    steps:
    - uses: actions/checkout@v3

    - uses: actions/setup-python@v4
      with:
        python-version: ${{ inputs.python-version }}
        cache: pip
        cache-dependency-path: |
          **/pyproject.toml
          **/setup.cfg

    - name: Upgrade pip; install requirements
      run: |
        python -m pip install --upgrade pip
        pip install black flake8 isort mypy wheel ${{ inputs.type-hint-packages }}

    - name: Check code style with black
      run: black --check .

    - name: Lint with flake8
      run: flake8 --count --max-complexity=${{ inputs.max-complexity}} --show-source --statistics

    - name: Lint with isort
      run: isort --check-only .

    - name: Check typing with mypy
      run: mypy --show-error-codes .
