name: Build package / publish

on:
  workflow_call:
    inputs:
      python-version:
        description: |-
          Python version for the workflow, passed to actions/setup-python.
        type: string
        required: false
        default: "3.x"
      environment:
        description: |-
          Environment name to use in the workflow.
        type: string
        required: false
        default: "publish"

jobs:
  publish:
    environment: ${{ inputs.environment }}

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - uses: actions/setup-python@v4
      with:
        python-version: ${{ inputs.python-version }}
        cache: pip
        cache-dependency-path: |
          **/pyproject.toml
          **/setup.cfg

    - name: Upgrade pip; install requirements
      run: |
        python -m pip install --upgrade pip
        pip install build twine

    - name: Build package
      run: |
        python -m build
        # NB gh-action-pypi-publish, below, also performs twine check; but we do
        #    this for events where neither of the below steps occurs
        twine check dist/*

    # Performed on a new tag
    - name: Publish to TestPyPI
      uses: pypa/gh-action-pypi-publish@release/v1
      if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
      with:
        repository-url: https://test.pypi.org/legacy/

    # Performed on a release event
    - name: Publish to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
      if: github.event_name == 'release'
