name: Build package / publish

on:
  workflow_call:
    inputs:
      python-version:
        description: |-
           Python version for the workflow, passed to
           actions/setup-python.
        type: string
        required: false
        default: "3.x"
    secrets:
      PYPI_TOKEN:
        required: true
      TESTPYPI_TOKEN:
        required: true

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - uses: actions/setup-python@v4
      with:
        python-version: ${{ inputs.python-version }}
        cache: pip
        cache-dependency-path: "**/setup.cfg"

    - name: Upgrade pip; install requirements
      run: |
        python -m pip install --upgrade pip
        pip install setuptools-scm twine wheel

    - name: Build package
      run: |
        python3 setup.py bdist_wheel sdist
        twine check dist/*

    - name: Publish to TestPyPI
      uses: pypa/gh-action-pypi-publish@v1.5.0
      if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
      with:
        user: __token__
        password: ${{ secrets.TESTPYPI_TOKEN }}
        repository_url: https://test.pypi.org/legacy/

    - name: Publish to PyPI
      uses: pypa/gh-action-pypi-publish@v1.5.0
      if: github.event_name == 'release'
      with:
        user: __token__
        password: ${{ secrets.PYPI_TOKEN }}
