name: Validate setup-gams action

on:
  push:
    branches: [ main ]
    paths: [ 'setup-gams/**' ]
  pull_request:
    branches: [ main ]
    paths: [ 'setup-gams/**' ]

jobs:
  gams:
    strategy:
      matrix:
        os:
        - macos-13  # x86_64
        - macos-latest  # arm64
        - ubuntu-latest
        - windows-latest
        version:
        - 48.6.1
        - 50.1.0
        use-cache:
        - true
        - false

        exclude:
        # No arm64 distribution for this version
        - os: macos-latest
          version: 25.1.1

      fail-fast: false

    runs-on: ${{ matrix.os }}
    name: ${{ matrix.os }}-${{ matrix.version }}

    steps:
    - name: Check out repository
      uses: actions/checkout@v4

    - name: Invoke action
      uses: ./setup-gams
      with:
        version: ${{ matrix.version }}
        use-cache: ${{ matrix.use-cache }}

    - name: Confirm GAMS is on PATH & license is recognized
      run: gams
